:root {
  --first-FFB8CA: #ffb8ca;
  --second-D41443: #d41443;
  --other-FFA5BA: #ffa5ba;
  --third-F0D1A5: #f0d1a5;
  --fourth-C2E297: #c2e297;
  --black-000000: #000000;
  --fifth-907E82: #907e82;
  --sixth-E1E1E1: #e1e1e1;
  --seventh-FFF5F6: #fff5f6;
  --eighth992: #e17992;
  --white: #ffffff;
}
