<!-- Advantages -->
<section class="advantages section">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Our advantages</h2>
    <ul class="list advantages__list">
      <li class="advantages__item advantages__item--milk">
        <p class="advantages__description">
          <span class="advantages__statistics">721</span> Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--fruit">
        <p class="advantages__description">
          <span class="advantages__statistics">16kg</span> Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--processing">
        <p class="advantages__description">
          <span class="advantages__statistics">84</span> Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
