<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts-card-set">
      <li class="contacts-card-set_item">
        <div class="contacts-div">
          <p class="contacts_cafe">CAFE</p>
          <p class="contents_title">Chicago</p>
          <p class="contacts_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts-list list">
            <li class="contacts-list_item">
              <p class="contacts-list_day">Monday - Friday</p>
              <p class="contacts-list_time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list_item">
              <p class="contacts-list_day">Saturday - Sunday</p>
              <p class="contacts-list_time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-list-adres list">
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card-set_item">
        <div class="contacts-div">
          <p class="contacts_cafe contacts_cafe--green">FOOD TRUCK</p>
          <p class="contents_title">Los Angeles</p>
          <p class="contacts_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts-list list">
            <li class="contacts-list_item">
              <p class="contacts-list_day">Monday - Friday</p>
              <p class="contacts-list_time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list_item">
              <p class="contacts-list_day">Saturday - Sunday</p>
              <p class="contacts-list_time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-list-adres list">
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-card-set_item">
        <div class="contacts-div">
          <p class="contacts_cafe">CAFE</p>
          <p class="contents_title">New York</p>
          <p class="contacts_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts-list list">
            <li class="contacts-list_item">
              <p class="contacts-list_day">Monday - Friday</p>
              <p class="contacts-list_time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list_item">
              <p class="contacts-list_day">Saturday - Sunday</p>
              <p class="contacts-list_time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts-list-adres list">
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-list-adres_item">
              <a class="link contacts-list-adres_link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="list contacts-list-btn">
      <li>
        <a
          href="https://www.google.com/maps/d/embed?mid=1RKfpDIBh3DevIuZ6_QDYnglVJY0&ehbc=2E312F"
          class="link contacts-locations"
          rel="noopener noreferrer"
          target="_blank"
          >Our Locations</a
        >
      </li>
      <li>
        <a
          href="https://www.google.com/maps/d/embed?mid=1RKfpDIBh3DevIuZ6_QDYnglVJY0&ehbc=2E312F"
          class="link contacts-franchise"
          rel="noopener noreferrer"
          target="_blank"
          >Franchise</a
        >
      </li>
    </ul>
  </div>
</section>
