<footer class="footer">
    <div class="footer-border">
        <div class="container footer-container">
            <div class="footer-titles">
                <p class="footer-titles__title--first">homemade ice cream made</p>
                <p class="footer-titles__title--second">with passion</p>
            </div>
            <div class="footer-sotial">
                <ul class="footer-sotial__list">
                    <li class="footer-sotial__item">
                        <a href="https://github.com/" target="_blank"  class="link footer-sotial__link">
                        <svg class="footer-sotial__svg" width="20" height="20">
                            <use href="./images/icons.svg#icon-Github"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="footer-sotial__item">
                        <a href="https://web.telegram.org." target="_blank"  class="link footer-sotial__link">
                        <svg class="footer-sotial__svg  telegram" width="20" height="16">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="footer-sotial__item">
                        <a href="https://www.facebook.com/" target="_blank" class="link footer-sotial__link">
                        <svg class="footer-sotial__svg" width="9" height="20">
                            <use href="./images/icons.svg#icon-fasebook"></use>
                        </svg>
                        </a>
                    </li>
                </ul>

                <a href="tel:+610383766284" class=" link footer-sotial__links"><span class="link-contact">Feel free to
                        contact </span> +61 (0) 383 766 284</a>
            </div>

        </div>

    </div>
    <p class="footer-text">
        © 2022 - IceCream. All Rights Reserved.</p>
</footer>