
<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Ice Cream Gallery</h2>
        <ul class="list gallery__list">
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img1-1x.jpg 1x,
                            ./images/gallery/gallery-img1-2x.jpg 2x"
                    src="./images/gallery/gallery-img1-1x.jpg" alt="Ice Cream in plate" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img2-1x.jpg 1x,
                            ./images/gallery/gallery-img2-2x.jpg 2x"
                    src="./images/gallery/gallery-img2-1x.jpg" alt="Ice Cream in hand" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img3-1x.jpg 1x,
                            ./images/gallery/gallery-img3-2x.jpg 2x"
                    src="./images/gallery/gallery-img3-1x.jpg" alt="Fruits Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img4-1x.jpg 1x,
                            ./images/gallery/gallery-img4-2x.jpg 2x"
                    src="./images/gallery/gallery-img4-1x.jpg" alt="More Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img5-1x.jpg 1x,
                            ./images/gallery/gallery-img5-2x.jpg 2x"
                    src="./images/gallery/gallery-img5-1x.jpg" alt="Girl with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img6-1x.jpg 1x,
                            ./images/gallery/gallery-img6-2x.jpg 2x"
                    src="./images/gallery/gallery-img6-1x.jpg" alt="Ice Cream in glass" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img7-1x.jpg 1x, 
                            ./images/gallery/gallery-img7-2x.jpg 2x"
                    src="./images/gallery/gallery-img7-1x.jpg" alt="Selfie Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img8-1x.jpg 1x,
                            ./images/gallery/gallery-img8-2x.jpg 2x"
                    src="./images/gallery/gallery-img8-1x.jpg" alt="Dog with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img9-1x.jpg 1x,
                            ./images/gallery/gallery-img9-2x.jpg 2x"
                    src="./images/gallery/gallery-img9-1x.jpg" alt="Coctail with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img10-1x.jpg 1x,
                            ./images/gallery/gallery-img10-2x.jpg 2x"
                    src="./images/gallery/gallery-img10-1x.jpg" alt="Donut with Ice Cream" />
            </li>
        </ul>
    </div>
</section>