<header class="header">
  <div class="container header__container">
    <div class="header-container--mobile">
      <a class="header-logo" href="#hero">
        <img
          class="header-img"
          srcset="images/logo-1x.png 199w, images/logo-2x.png 398w"
          sizes="(min-width: 1280px) 199px, (min-width: 768px) 199px, (min-width: 320px) 199px, 100vw"
          src="images/logo-1x.png"
          alt="logo"
        />
      </a>

      <button
        class="btn-mob-menu js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="" width="30" height="20" aria-label="Переключатель мобильного меню">
          <use href="images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <nav class="header__nav">
        <ul class="list header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#hero">Home</a>
          </li>

          <li class="header__nav-item">
            <a class="header__nav-link" href="#reviews">About us</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#about">How it’s made?</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#products">Our products</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="header-btn header-btn-tab" type="button" data-modal-open>
        <span class="header-btn--text">Buy now</span>
        <svg class="" width="6" height="8">
          <use href="images/icons.svg#icon-more"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-conteiner--menu js-menu-container" id="mobile-menu">
      <button class="mobile__btn-close js-close-menu" type="button">
        <svg
          class="mobile__btn-icon"
          width="14"
          height="14"
          aria-label="Переключатель мобильного меню"
        >
          <use href="images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <button class="header-btn header-btn-menu" type="button" data-modal-openn>
        <span class="header-btn--text">Buy now</span>
        <svg class="" width="6" height="8">
          <use href="images/icons.svg#icon-more"></use>
        </svg>
      </button>

      <nav>
        <ul class="list header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link" href="#hero">Home</a>
          </li>

          <li class="header__menu-item">
            <a class="header__menu-link" href="#reviews">About us</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#about">How it’s made?</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#products">Our products</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
