<section class="products" id="products">
    <div class="container">
      <p class="products-text">100% natural</p>
      <h2 class="products-title">products</h2>
      <ul class="list products-list">
        <li class="products-list__item ice-cream-item">
          <div class="products-container">
            <h3 class="products-container__title">ice cream</h3>
            <p class="products-container__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et <span class="hide">dolore magna aliqua
                facilisis.</span>
            </p>
            <input
              class="checkbox-hidden visually-hidden"
              type="checkbox"
              id="checked"
            />
            <p class="product-text text-hidden">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
              natus.
            </p>
            <label class="products-label label-ice-cream" for="checked">
              <svg class="products-icon" width="15" height="15">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </label>
          </div>
        </li>
        <li class="products-list__item ice-cofee-item">
          <div class="products-container container-ice-coffe">
            <h3 class="products-container__title">ice coffee</h3>
            <p class="products-container__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et <span class="hide">dolore magna aliqua
                facilisis.</span>
            </p>
            <input
              class="checkbox-hidden visually-hidden"
              type="checkbox"
              id="check"
            />
            <p class="product-text text-hidden">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
              natus.
            </p>
            <label class="products-label label-ice-cofee" for="check">
              <svg class="products-icon" width="15" height="15">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </label>
          </div>
        </li>
        <li class="products-list__item milkshakes-item">
          <div class="products-container container-milkshakes">
            <h3 class="products-container__title">milkshakes</h3>
            <p class="products-container__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et <span class="hide">dolore magna aliqua
                facilisis.</span>
            </p>
            <input
              class="checkbox-hidden visually-hidden"
              type="checkbox"
              id="checks"
            />
            <p class="product-text text-hidden">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
              natus.
            </p>
            <label class="products-label label-milk" for="checks">
              <svg class="products-icon" width="15" height="15">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </section>